
<div class="navbar">
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/contact">Contact Us</a>
</div> 
<style>
.navbar {
            background: lab(43.52% -19.6 -17.43 / 0.7);
            padding: 15px;
            display: flex;
            justify-content: left;
            margin: 0;
        }
.navbar a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
            font-size: 18px;
        }
.navbar a:hover {
            color: aqua;
        }

</style>
